@import '../reservation-detail-dialog/reservation-detail-dialog.component.scss';

.dialog-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.error {
  color: #d32f2f;
  font-size: 12px;

  &.global {
    margin-top: 4px;
  }
}
